<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<f:form action="cloneEntity" class="well">
			<f:form.textfield name="sourceUuid" placeholder="sourceUuid" />
			<f:form.textfield name="className" placeholder="className" />
			<button type="submit">Clone Entity</button>
		</f:form>
<!-- 		<f:form action="deleteByUuid" class="well">
			<f:form.textfield name="baseUuid" placeholder="baseUUID" />
			<f:form.textfield name="className" placeholder="className" />
			<button type="submit">Delete by UUID</button>
		</f:form> -->
		<f:form action="index" class="well" method="get">
			<f:form.textfield name="baseUuid" placeholder="baseUUID" />
			<button type="submit">Display results</button>
		</f:form>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<f:for each="{uuids}" as="data">
			<f:render section="Panel" arguments="{data: data, parent: ''}" />
		</f:for>
		</div>
	</div>

</body>
</html>

<f:section name="Panel">
	<div class="panel panel-default {f:if(condition: data.cloned, then:'panel-info')}">
		<div class="panel-heading" role="tab" id="headingTwo">
  			<h6 class="panel-title">
    			<a class="collapsed" data-toggle="collapse" data-parent="#accordion{parent}" href="#panel-{data.sourceUuid}" aria-expanded="false" aria-controls="collapseTwo">
      				{data.name}<br />
      				<small>{data.path}</small>
      				<small class="pull-right">{data.className}</small>
    			</a>
  			</h6>
		</div>
	    <div id="panel-{data.sourceUuid}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	      	<div class="panel-group" id="accordion-{data.sourceUuid}" role="tablist" aria-multiselectable="true">
	      		<f:for each="{data.children}" as="childData">
					<f:render section="Panel" arguments="{data: childData, parent: '{childData.sourceUuid}'}" />
				</f:for>
			</div>
	      </div>
	    </div>
	</div>
</f:section>