<f:layout name="Default" />

<f:section name="Content">
	<f:form action="gatherUuids" class="well">
		<f:form.textfield name="baseUuid" placeholder="baseUUID" />
		<f:form.textfield name="className" placeholder="className" />
		<button type="submit">Gather UUIDs</button>
	</f:form>
<!-- 		<f:form action="deleteByUuid" class="well">
		<f:form.textfield name="baseUuid" placeholder="baseUUID" />
		<f:form.textfield name="className" placeholder="className" />
		<button type="submit">Delete by UUID</button>
	</f:form> -->
	<f:form action="index" class="well" method="get">
		<f:form.textfield name="baseUuid" placeholder="baseUUID" />
		<button type="submit">Display results</button>
	</f:form>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>ClassName/UUID</th>
			<th>Deleted?</th>
		</tr>
		<f:for each="{uuids}" as="data" key="uuid">
			<tr {f:if(condition: data.deleted, then:'class="danger"')}>
				<td>
					<strong>{data.name}</strong><br />
					<small>{data.path}</small>
				</td>
				<td>
					<strong>{data.className}</strong><br />
					{uuid}
				</td>
				<td>{f:if(condition: data.deleted, then: 'yes', else: 'no')}</td>
				<td>
					<f:link.action action="deleteByUuid" arguments="{uuid: uuid, className: data.className}" target="_blank">Delete this...</f:link.action>
				</td>
			</tr>
		</f:for>
	</table>
</f:section>